<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主界面</title>

    <script src="../bootstrap/js/libs/jquery.min.js" th:src="@{/bootstrap/js/libs/jquery.min.js}"></script>
    <script src="../bootstrap/js/libs/bootstrap.min.js" th:src="@{/bootstrap/js/libs/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/style.css}"  />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                首页
            </h1>
        </div>
    </div>

</div>

</body>
</html>