<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册错误界面</title>

    <script src="../bootstrap/js/libs/jquery.min.js" th:src="@{/bootstrap/js/libs/jquery.min.js}"></script>
    <script src="../bootstrap/js/libs/bootstrap.min.js" th:src="@{/bootstrap/js/libs/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/style.css}"  />
</head>
<body>
<div class="container">

    <div class="row between-rows-10">
        <div class="col-md-12">
            <h3>
                注册错误界面
            </h3>
        </div>
    </div>

    <div class="row between-rows-10">
        <div class="col-md-offset-4 col-md-8">
            <h3>
                <a th:href="@{register}">注册信息有误，点击返回注册界面</a>
            </h3>
        </div>
    </div>

</div>

</body>
</html>